html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.loading {
    position: absolute;
    width: 100%;
    height: 50px;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*transform: translateY(-50px);*/
    overflow-y: auto; 
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner .banner-pic-lists {
    font-size: 0;
    white-space: nowrap;
    transform: translateX(0);
}

.banner .banner-pic-lists:after {
    content: '';
    display: block;
    clear: both;
}

.banner .banner-pic-list {
    display: inline-block;
    width: 3.75rem;
    height: 1.2rem;
}

.banner .banner-pic-list .banner-pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner .banner-num-lists {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.banner .banner-num-lists .banner-num-list {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.banner .banner-num-lists .banner-num-list.active {
    background: rgba(255, 80, 0, 1);
}